@import url(./__decor/header__decor.css);
@import url(./__container/header__container.css);
@import url(./__link/header__link.css);
@import url(./__menu/header__menu.css);

.header{
    max-width: 1440px;
    height: 60px;
    background-color: #444140;
    
    display: flex;
    justify-content: space-between;
}