.footer__link{
    display: flex;
    justify-content: center;
    transition: transform 0.4s ease-in-out;
}

.footer__link:hover{
    max-width: 300px;
    transform: scale(1.15, 1.15);
    font-size: 36px;
    display: flex;
    justify-content: center;
}