.responses__swiper{
    width: 1440px;
    display: flex;
    margin: 100px 0;
}

.flickity-slider{
    display: flex;
    width: 1440px;
    position: relative;
}

.carousel-cell{
    display: flex;
    width: 100%;
    margin: 0 30px;
}
.flickity-prev-next-button.previous {
    left: -10px;
  }
  .flickity-prev-next-button.next {
    right: -10px;
  }

.flickity-button:hover{
    background: #A62229;
}
