.popup-image__content {
    max-width: 90vw;
    max-height: 90vh;
    position: relative;
    box-sizing: border-box;
    padding: 0; 
  }
  
  @media screen and (max-width: 540px) {
    .popup-image__content {
      width: calc(100% - 60px);
    }
  }